<% @messages.each do |message| %>
  <div class="chat-container">
    <p><%= message.text %></p>
      <% unless message.photo.blank? %>
        <%= cl_image_tag(message.photo, :transformation => { :width => 250, :crop => "pad" }) %>
      <% end %>
    <p class="time-right"><%= message.user.first_name %> <%= message.created_at.strftime("%X") %></p>
  </div>
<% end %>

<!--
create an input form for message
for nested routes, pass to simple_form the parent resource, then the child
-->
<div>
  <%= simple_form_for [@issue, @message] do |f| %>
    <%= f.input :text %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden  %>
    <%= f.button :submit, value: 'Submit' %>
    <!-- input should POST to message#new -->
    <!-- Entire page should reload to display new messages -->
  <% end %>
  <%= link_to 'All Issues', project_issues_path(@issue.project) %>
  <%= link_to 'Map View', map_path(@issue.map) %>
  <%= link_to 'Issue Details & Add Solver', project_issue_path(@issue.project, @issue) %>
</div>
