<div class="full-screen-section pink">
  <div class="header-section">
    <h1 class="title-center">Report Issue</h1>

  </div>
  <div class="main-section">
    <div id="form-slider" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
      <ol class="carousel-indicators" id="slider-indicators">
        <li data-target="#form-slider" data-slide-to="0" class="active"></li>
        <li data-target="#form-slider" data-slide-to="1"></li>
        <li data-target="#form-slider" data-slide-to="2"></li>
      </ol>
      <div class="slider-forms-container">
        <%= simple_form_for [@project, @issue] do |f| %>
        <div class="carousel-item active">
          <%= f.input :title %>
          <%= f.association :map, collection: @project.maps%>
        </div>
        <div class="carousel-item">
          <% Category.all.each do |category| %>
            <div class="rounded-card category-card" data-id="<%= category.id %>">
              <p><%= category.name %></p>
            </div>
          <% end %>
          <div style="display: none" data-subcategories='<%= @subcategories.to_json %>'></div>
        </div>
        <div class="carousel-item">
          <div id="category-checkbox"></div>
          <%= f.button :submit, value: 'Next' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="slider-btn-container">
    <a href="#form-slider" role="button" data-slide="next">
      <div class="emerald action-btn">
        <p>Continue</p>
        <span class="sr-only">Next</span>
      </div>
    </a>
  </div>
</div>
