<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_transparent.png" %>
    <% end %>

  <button class="navbar-toggler menu-toggler" type="button" data-toggle="collapse" data-target="#user-nav-menu" aria-controls="user-nav-menu" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? %>
      <% if current_user.photo.blank? %>
        <%= image_tag "https://ui-avatars.com/api/?name=#{current_user.first_name}+#{current_user.last_name}", class: "avatar-bordered" %>
      <% else %>
        <%= image_tag cl_image_path(current_user.photo, height: 300, width: 300, crop: :fill), class: "avatar-bordered" %>
      <% end %>
    <% end %>
  </button>

  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="user-nav-menu">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active dropdown">
          <%= link_to "My Account", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% else %>
    <h5 id="navbar-login-btn">
      <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
    </h5>
  <% end %>
</div>
