<div class="main-section">
  <div class="rounded-card">
    <div class="img-container-in-card">
      <% if @project.photo.blank? %>
        <%= image_tag("https://source.unsplash.com/600x400/?sig=#{rand(1..100)}/&mansion,luxury") %>
      <% else %>
        <%= cl_image_tag(@project.photo, height: 300, width: 400, crop: :fill) %>
      <% end %>
    </div>
    <div class="text-container-in-card navcolor-light">
      <p>
        <%= @project.name %>
      </p>
    </div>
  </div>

  <div id="map-slider" class="carousel slide side-scroll-container" data-ride="carousel">
    <div class="carousel-inner">
      <% @project.maps.each_with_index do |map, index| %>
        <% if index == 1 %>
          <div class="carousel-item active">
        <% else %>
          <div class="carousel-item">
        <% end %>
          <div class="rounded-card">
            <div class="img-container-in-card">
              <%= link_to cl_image_tag(map.photo, height: 300, width: 400, crop: :fill), map_path(map)%>
            </div>
            <div class="text-container-in-card navcolor-light">
              <p>
                <%= map.title %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#map-slider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#map-slider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h1 class="title-center black-text">
    Contractors assigned
  </h1>
  <% if @project.project_solvers.present? %>
    <div class="solvers-container">
      <% @project.project_solvers.each do |solver| %>
        <div class="rounded-card solver-details white">
          <%= render partial: "shared/solver_avatars", locals: {solver: solver.user} %>
          <p class="title">
            <%= solver.user.first_name %>
            <%= solver.user.last_name %>
          </p>
          <p>
            <% solver.user.sub_categories.each do |sub_cat| %>
              <%= sub_cat.name %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="navcolor-light-text none-found-text">
      No contractors assigned to project.
    </p>
  <% end %>
</div>

<div class="btn-container">
  <%= link_to 'Add contractors', solvers_project_path(@project), class: "navcolor-dark command-btn" %>
  <%= link_to 'Progress', chart_project_path(@project), class: "navcolor-dark command-btn" %>
  <%= link_to 'Done', project_issues_path(@project), class: "navcolor-dark command-btn" %>
</div>
